.result-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  
    &__email {
      font-weight: bold;
      margin-bottom: 5px;
    }
  
    &__movie {
      color: #333;
      margin-bottom: 5px;
    }
  
    &__seat-number {
      color: #666;
      margin-bottom: 5px;
    }
  
    &__date {
      color: #999;
    }
  }
  